<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/editar_pelicula.css' />
    <title>Editar</title>
</head>

<body>
    <div class="main_container">
        <div class="formulario_editar">
            <form action='/peliculas/editar/id/<%= pelicula.id%>' enctype="multipart/form-data" method="POST">
                <div class="titulo_descricion">
                    <div class="div_nombre">
                        <label for="nombre">Nombre</label><br>
                        <input type="text" name="nombre" placeholder="nombre" value="<%=pelicula.nombre%>">
                    </div>
                    <div class="div_descripcion">
                        <label for="descripcion">Descripcion</label>
                        <textarea name="description" id="description" cols="30"
                            rows="10"><%=pelicula.description%></textarea>
                    </div>
                    <div class="div_url">
                        <label for="urlvideo">Video URL</label><br>
                        <input type="text" name="urlvideo" value="<%= pelicula.video_url%>">
                    </div>
                </div>
                <div class="rating_genero">
                    <div class="rating">
                        <label for="rating">Rating</label><br>
                        <input type="number" name="rating" placeholder="rating" value="<%=pelicula.rating%>">
                    </div>
                    <div class="ingresa_imagen">
                        <label for="image">Portada de la pelicula</label>
                        <input type="file" name="image" value="<%=pelicula.image%>">
                    </div>
                    <div class="seleccion_genero">
                        Genero
                        <select name="genero" id="" class="seleccionar_genero">
                            <option value="" disabled selected hidden>
                                <%=pelicula.genero.tipo%>
                            </option>
                            <option value="1">terror</option>
                            <option value="2">accion</option>
                            <option value="3">fantasia</option>
                        </select>
                    </div>
                </div>
                <br>
                <button class="submit" type="submit">EDITAR</button>
                <button class="button_back"><a href="/peliculas/listado/id/<%= pelicula.id %>">VOLVER</a></button>
        </div>
    </div>
    </form>
</body>

</html>