<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/80b891709d.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../public/images/logo.ico">
    <link rel='stylesheet' href='/css/indexLogged.css' />
    <link rel='stylesheet' href='/css/partials/navbar.css' />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmcity</title>
</head>

<body>
    <main>
        <%- include("./partials/navbar.ejs") %>
            <video class="video_home" playsinline autoplay muted loop>
                <source src="video/video1.mp4" type="video/mp4">
            </video>
            <div class="cajon_peliculas">
                <% peliculas.forEach(peliculas=> { %>
                    <div class="pelicula">
                        <a href="/peliculas/listado/id/<%= peliculas.id %>">
                            <img class="imagen_pelicula" src="<%= peliculas.image %>" alt="">
                            <p class="nombre_pelicula">
                                <%= peliculas.nombre %>
                            </p>
                        </a>
                    </div>
                    <% }) %>
            </div>
            <div class="topRated">
                <div>
                    <h2 class="titulo_topRated">TOP RATED</h2>
                </div>
                <div class="cajon_topRated">
                    <% peliculas
                        .filter(pelicula => pelicula.rating >= 8) // Filtrar películas con rating mayor o igual a 8
                        .sort((a, b) => b.rating - a.rating) // Ordenar de mayor a menor rating
                        .slice(0, 5) // Obtener las primeras 5 películas
                        .forEach(pelicula => { %>
                            <div class="pelicula">
                                <a href="/peliculas/listado/id/<%= pelicula.id %>">
                                    <img class="imagen_pelicula" src="<%= pelicula.image %>" alt="">
                                    <p class="nombre_pelicula">
                                        <%= pelicula.nombre %>
                                    </p>
                                </a>
                            </div>
                        <% }) %>
                </div>
            </div>
            <div class="topRated">
                <div>
                    <h2 class="titulo_topRated">TOP VISITADAS</h2>
                </div>
                <div class="cajon_topRated">
                    <% peliculas
                        .sort((a, b) => b.clics - a.clics) // Ordenar de mayor a menor
                        .slice(0, 5) // Obtener las primeras 5 películas
                        .forEach(pelicula => { %>
                            <div class="pelicula">
                                <a href="/peliculas/listado/id/<%= pelicula.id %>">
                                    <img class="imagen_pelicula" src="<%= pelicula.image %>" alt="">
                                    <p class="nombre_pelicula">
                                        <%= pelicula.nombre %>
                                    </p>
                                </a>
                            </div>
                        <% }) %>
                </div>
            </div>
    </main>
</body>

</html>