<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/80b891709d.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/css/profile.css' />
    <link rel='stylesheet' href='/css/partials/navbar.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>

<body>
    <main>
        <%- include("./partials/navbar.ejs") %>

            <div class="cajon_datos">
                <img class="imagen_usuario_cajon" src="<%= user.avatar_id %>" alt="">
                <h2> Hola <%= user.alias %> !
                </h2>
                <h4>
                    Email: <%= user.email %>
                </h4>
                <h4>
                    Nombre completo: <%= user.first_name %>
                        <%= user.last_name %>
                </h4>
                <h4>
                    Alias: <%= user.alias %>
                </h4>
                <a href="/usuario/edit/<%= user.id %>"> <i id="editar_boton"
                        class="fa-regular fa-pen-to-square"></i></a>
                <button class="logout"> <a href="/logout">SALIR</a></button>
            </div>
    </main>
</body>

</html>