<!DOCTYPE html>
<html lang="en">

<head>
    <link rel='stylesheet' href='/css/register.css' />
    <link rel='stylesheet' href='/css/header.css' />
    <script src="https://kit.fontawesome.com/80b891709d.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>


<body>
    <%- include("./partials/header.ejs") %>
        <div class="admin_user">
            <p>sos admin ?</p>
        </div>
        <div class="cajon_formulario">
            <form action='/usuario/registro' method="POST">
                <div>
                    <h1>Registrate</h1>
                </div>
                <div class="input_box">
                    <input type="text" name="first_name"
                        value="<%= locals.old && old.first_name ? old.first_name : "" %>"
                        placeholder=" Ingresa tu nombre">
                    <% if (locals.errors && locals.errors.first_name) { %>
                        <p class="error">
                            <%= errors.first_name.msg %>
                        </p>
                        <% } %>
                </div>
                <div class="input_box">
                    <input type="text" name="last_name" value="<%= locals.old && old.last_name ? old.last_name : "" %>"
                        placeholder="  Ingresa tu apellido">
                    <% if (locals.errors && locals.errors.last_name) { %>
                        <p class="error">
                            <%= errors.last_name.msg %>
                        </p>
                        <% } %>
                </div>
                <div class="input_box">
                    <input type="text" name="alias" value="<%= locals.old && old.alias ? old.alias : "" %>"
                        placeholder="  Ingresa tu nick">
                    <% if (locals.errors && locals.errors.alias) { %>
                        <p class="error">
                            <%= errors.alias.msg %>
                        </p>
                        <% } %>
                </div>
                <div class="input_box">
                    <input type="text" name="email" value="<%= locals.old && old.email ? old.email : "" %>"
                        placeholder="  Ingresa tu email">
                    <% if (locals.errors && locals.errors.email) { %>
                        <p class="error">
                            <%= errors.email.msg %>
                        </p>
                        <% } %>
                </div>
                <div class="input_box">
                    <input type="password" name="password" id="pass" placeholder="  Ingresa tu contraseña">
                    <% if (locals.errors && locals.errors.password) { %>
                        <p class="error">
                            <%= errors.password.msg %>
                        </p>
                        <% } %>
                </div>
                <div class="show_pass">
                    <input type="checkbox" onclick="Show()" class="boton_mostrar">
                    <label class="mostrar_texto" for="checkbox">Mostrar contraseña</label>
                </div>
                <div class="show_pass">
                    <input type="checkbox" onclick="clickShow()" class=" boton_mostrar">
                    <label class="mostrar_texto" for="checkbox">Soy admin</label>
                </div>
                <div class="input_box_password" id="show.pass">
                    <input type="text" name="soy_admin" placeholder="Código secreto">
                </div>
                <select name="genero" id="gender" class="select_sexo">
                    <option value="" disabled selected hidden>Selecciona tu sexo</option>
                    <option value="/images/users/male.jpg">hombre</option>
                    <option value="/images/users/female.jpg">mujer</option>
                </select>
                <button class="submit" type="submit">Registrarse</button>
            </form>
        </div>


</body>

<script>
    function Show() {
        let pass = document.getElementById("pass");
        if (pass.type === "password") {
            pass.type = "text";
        } else {
            pass.type = "password"
        }
    };
</script>

<script>
    function clickShow() {
        var x = document.getElementById("show.pass");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>

</html>